<!DOCTYPE HTML>
<html>
	<head>
		<title>maru at <%== request.host %></title>
		<link rel="stylesheet" type="text/css" href="/maru.css" media="screen"/>
		<script type="text/javascript" src="/maru.js"></script>
	</head>
	<body>
		<div id="header">
			<h1><a href="/">丸</a> <%== @title || "maru" %></h1>
			<nav>
			<ul>
			<% if logged_in? %>
				<% if @user.is_admin || @user.can_own_groups %>
					<li><a href="/group/new">submit work</a></lI>
				<% end %>
				<% if @user.is_admin %>
					<li><a href="/admin">admin</a></li>
				<% end %>
				<li><a href="/user/preferences"><%== @user.email %></a> <a href="/user/logout">(log out)</a></li>
			<% else %>
				<% if @title != "log in" %>
					<li><a href="/user/login">log in</a></li>
				<% end %>
			<% end %>
			</ul>
			</nav>
			<div class="clear"></div>
		</div>
		<% if @error %>
			<div id="error">
				<%= markdown @error %>
			</div>
		<% end %>
		<div id="content">
			<%= yield %>
		</div>
	</body>
</html>
