<!DOCTYPE HTML>
<html>
	<head>
		<title>maru at <%== request.host %></title>
		<link rel="stylesheet" type="text/css" href="/maru.css" media="screen"/>
	</head>
	<body>
		<div id="header">
			<h1><a href="/">丸</a> <%== @title || "maru" %></h1>
			<nav>
			<ul>
			<% if logged_in? %>
				<% if @user.is_admin || @user.can_own_groups %>
					<li><a href="/group/new">new group</a></lI>
				<% end %>
				<% if @user.is_admin || @user.can_own_workers %>
					<li><a href="/workers">workers</a></li>
				<% end %>
				<% if @user.is_admin || @user.can_manage_users %>
					<li><a href="/users">users</a></li>
				<% end %>
				<li><a href="/user/preferences"><%== @user.email %></a> <a href="/user/logout">(log out)</a></li>
			<% else %>
				<% if @title != "log in" %>
					<li><a href="/user/login">log in</a></li>
				<% end %>
			<% end %>
			</ul>
			</nav>
			<div class="clear"></div>
		</div>
		<% if @error %>
			<div id="error">
				<%= markdown @error %>
			</div>
		<% end %>
		<div id="content">
			<%= yield %>
		</div>
	</body>
</html>
