<div id="user-preferences" class="single-pane">
	<div>
		<h1>Change password</h1>
		<form id="change-password" onsubmit="changePassword(<%== @target_user.id %>, this); return false;">
		<% unless @user.is_admin and @user != @target_user %>
			<label for="current_password">
				Current password<br/>
				<input name="current_password" type="password"/>
			</label>
		<% end %>
			<label for="new_password">
				New password<br/>
				<input name="new_password" type="password"/>
			</label>
			<label for="confirm_password">
				Confirm password<br/>
				<input name="confirm_password" type="password"/>
			</label>
			<input type="submit" value="Change password"/>
		</form>
	</div>
<% if @target_user.can_own_workers or @target_user.is_admin %>
	<div>
		<h1>Workers</h1>
		<ul id="workers">
		<% @target_user.workers.each do |worker| %>
			<li id="worker-<%== worker.id %>">
				<div class="name"><%== worker.name %></div>
				<div class="key"><%== worker.authenticator %></div>
				<nav>
				<ul>
					<li><a onclick="regenerateKeyForWorker(<%== worker.id %>, this);">regenerate key</a></li>
					<li><a onclick="deleteWorker(<%== worker.id %>, this);">delete</a></li>
				</ul>
				</nav>
			</li>
		<% end %>
			<li id="workers-item-add">
				<form id="add-worker" onsubmit="addWorker(this); return false;">
					<input name="name"/> <input type="submit" value="add" />
				</form>
			</li>
		</ul>
	</div>
<% end %>
	<div>
		<h1>Tasks</h1>
		<nav class="vertical">
		<ul>
		<% if @user == @target_user %>
			<li>log out of all sessions except this one</li>
		<% else %>
			<li>force user to log out</li>
		<% end %>
			<li>delete account</li>
		</ul>
		</nav>
	</div>
</div>
