<% if @target_user == @user or @user.is_admin? %>
  <form method="POST">
    <div>
      <label for="client_name">Client name</label>
      <div class="client_name_group">
        <span class="username_prefix"><%= escape_html @target_user.name %>/</span>
        <input name="client_name" />
      </div>
    </div>
    <div>
      <label for="permissions">Permissions</label>
      <input name="permissions" />
    </div>
    <div class="clear"></div>
    <div>
      <input type="submit" value="Add a new client" />
    </div>
  </form>
<% end %>

<ul class="clients objects">
  <% @target_user.clients.each do |client| %>
    <li>
      <dl>
        <dt>Client name</dt>
        <% if client.name =~ /^([^\/]+\/)(.*)/ %>
          <dd class="client_name"><span class="username_prefix"><%= escape_html $1 %></span><%= escape_html $2 %></dd>
        <% else %>
          <dd class="client_name"><%= escape_html client.name %></dd>
        <% end %>

        <% if @target_user == @user or @user.is_admin? %>
          <dt>Key</dt>
          <dd class="client_key"><%= escape_html client.key %></dd>
        <% end %>

        <dt>Permissions</dt>
        <dd>
          <ul class="client_permissions">
            <% client.permissions.each do |permission| %>
              <li><%= escape_html permission %></li>
            <% end %>
          </ul>
        </dd>

        <dt>Status</dt>
        <dd><%= client.active? ? "Online" : "Offline" %></dd>
      </dl>
      <ul class="action_group">
        <li>
        <% if client.name =~ /^#{Regexp.escape(@target_user.name)}\/(.*)/; cn = $1 %>
          <a class="button negative" href="/user/<%= escape @target_user.name %>/client/<%= escape cn %>/delete">Delete</a>
        <% else %>
          <a class="button negative" href="/client/<%= escape client.name %>/delete">Delete</a>
        <% end %>
        </li>
      </ul>
      <div class="clear"></div>
    </li>
  <% end %>
</ul>
